



body{
  background: white;
}
table{
  margin: 0 0.5% 0 1%;
}
.main100{
  width: 100%;
  height: 100%;
  display: inline;
  background-color: red;
  border: solid 3px yellow;
 }
 .main82{
  
  /* background-color: black; */
 margin-right: 0.5%;
 padding-bottom: 3%;
 width: 82.05%;
    float: right;
  /* border: solid 3px black; */
  box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c   ;
 }
 .navSideBar{
  
  position: fixed;
  padding-right: 1px;
  margin-left: 1.25px;
  padding-bottom: 2px;
   /* box-shadow: 5px 5px 5px  #929497 ;  */
   /*5px 5px 5px red ; */
   /* box-shadow: 5px 5px 5px  #595a5c ; */
   box-shadow: 3px 3px 3px  #231f20, 5px 5px 5px  #595a5c  ;
   border-radius: 10px;
   /* box-shadow: 5px 5px 5px  #459d46 ; */
   /* box-shadow: 5px 5px 5px  #ffffff ; */
  width: 16.75%;
 

}
.adminMenuDiv{
  float: right;
 margin-top: -15%;
 height: 50px;
 border-radius: 150px;
 width: 5%;
 border: #231f20 solid 1px;
 margin-right: 1%;
}
.adminListLbl{
  box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c  ;
  padding:5px;
  width:100%;
  display: flex;
  margin-bottom:-18px
}
#adminLblImg{
  width: 100%;
  height: 100%;
  border-radius: 150px;
}

.adminLblDivL{
  float: left;
  height: 60px;
  border-radius: 150px;
  width: 13%;
  border: #231f20 solid 1px;
  margin-right: 1%;
 }
#adminMenuImg{
  width: 100%;
  height: 100%;
  border-radius: 150px;
}

.adminDiv{
   /* width: 40%;
  background-color: #929497;
  height: 400px;
 margin-left: auto;
 margin-right: auto;
  border-radius: 200px; */
  margin-left: 25%;
  margin-top: -2%;
 
  height: 350px;
  border-radius: 350px;
  width: 35%;
  border: #231f20 solid 1px;
  margin-right: 1%;
}
#adminImg{

width: 100%;
height: 100%;
border-radius: 350px;
}
.adminMenuListDiv{
  position:absolute;
  width: 40%;
  background-color: white;
  margin-top: -10%;
  float: left;
  padding: 1%;
  margin-left: 29.25%;
  box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c  ;
}

.btnSideBar{
  box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c  ;
  border-radius: 10px;
  margin-top: 5px;
  height: 75px;
   width: 99.75%; 
   border:none;
   font-size: 12px;
  /* position:absolute; */
 
  }
  .btnSideBar:hover{
    background-color: #459d46;
  }
  .btnSideBarn{
    
    height: 40px;
     width: 100%; 
     border: solid #459d46 1px;
    /* position:absolute; */
   
    }


#ipdcimg{
  height: 65px;
  width: 100%;
  margin-top: 0.355%;
  margin-left: 0.75%;
}
.menuList{
  box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c  ;
  height: 70px;
  padding: 1% 0 0 2%;
}
.span{
  font-size: 25px;
  margin-right: -8%;
  border: none;
}
.navMainMenu{
  max-width: 100%;
  /* box-shadow: 3px 3px 10px  #595a5c inset, 5px 5px 10px  #595a5c  ; */
  padding-top: 30px;
  /* diplay: inline-block; */
}
.inputscan{
 
  margin-left: 20%;
  
}
.login{
  margin-bottom: 2%;
  margin-left: 15%;
   /* color: white; */
}






















.mainDiv{
  margin-top: 50px;
  
}
.loginDiv{
  margin-top: 16%;
  margin-left: 10%;
  margin-bottom: 18%;
 }
.adminMainDiv{
  margin-top: 16%;
  margin-left: 10%;
  margin-bottom: 18%;
  
}

#lblimg{
  margin-bottom:200px;
  padding-bottom: 200px;
}
.cont{
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(204, 203, 203);
  display: inline-block;
  
  
}
.btnscan{
  margin: 5px 0px 5% 57%;
  font-size: 25px;
  float: left;
  border: none;
  background-color: white;
  color:white;
}
.textArea{
  width: 24.2%;
  height: 100px;
  margin-left: -25%; 
}
.scandiv{
  width:20%;
  padding-left: 80px;
  padding-right: 200px;
  
   display: inline-block;
   margin-bottom: -350px;
}

.div50{
  width:20%;
  padding-left: 80px;
  padding-right: 200px;
  
   display: inline-block;
   margin-bottom: -350px;
}
.lbl{
  width: 150px;
  display: inline-block;
  margin: 10px 50px 10px  10%;
  
}

 label, input, select {
font-size: 20px;}

.imgtxt{
 height:200px;
 font-size: 50px;
 text-align: center;
 
}
#inneractlbl{
  margin: 0 0 0 -120px;
 
}
#act{
  accent-color: green;
}
#actlbl{
  display: inline;
  
  margin-left:  20%;
  
}
#actlbll{
  display: inline;
  
  margin-left:  20%;
  
}

input, select{
 width: 40%;
 accent-color:#ddd;
 
 border: ridge #231f20 2px;
}

/* input:focus, select:focus{
 
 border: #459d46 ridge 3px;
} */

h1{
  text-align: center;
  
}
/* .btns:hover, .btnc:hover, input:hover, select:hover{
  
  border-radius: 7px;
} */

.btns{
  margin: 30px 0px 5% 57%;
  font-size: 25px;
  float: left;
  background: #459d46;
  border-radius: 7px;
}
.btnc{
  margin: 30px 0px  5% 5%;
  font-size: 25px;
  float: left;
  background: #459d46;
  border-radius: 7px;
}
nav .btnEmployee{
  height: 40px;
  width: 250px;
  font-size: 20px;
  border: none;
}
.d-inline{
  display: inline;
}

.btnNav:focus, .btnEmployee:focus{
  background-color: rgb(16, 163, 16);
 
}
.btnNav:default{
  background-color: rgb(16, 163, 16);
 
}
.btnNav{
 max-height: 30px;
width: 25%;
 font-size: 20px;

 border:none;
 }

 .btngreen{
  background-color: #459d46;
 }
 #input[type="file"]{
  display: none;
 }
/*nav .animationMenuMain{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: rgb(16, 163, 16);
  width: 500px;
}
.navMainMenu button:nth-child(1){
  width: 500px;
}
nav .startMenuMain, .navMainMenu button:nth-child(1):hover~.animationMenuMain{
   width: 500px;
   left: 0;
}
.navMainMenu button:nth-child(2){
  width: 1010px;
}
nav .startMenuMain, .navMainMenu button:nth-child(2):hover~.animationMenuMain{
   width: 1010px;
   left: 500;
} 
/*/  

.displayGrid{
  display: grid;
}
span{
  width: 10%;
  padding: 0 100px 0 5px;
  border: black 1px solid;
}
.divSpan{
  display: inline-block;
}

.h{
 
  text-align: center;
  
  font-weight: bold;
}
.imgPop{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.img-holderPop{
  width: 190px;
  height: 190px;
 
  margin: auto;
}
.contPop{
  margin: auto;
  height: 280px;
  width: 250px;
  border-radius: 10px;
  background-color: rgb(204, 203, 203);
  display: inline-block;
}
.img-holder{
  width: 200px;
  height: 200px;
  
  margin: auto;
}
.texte{
  width: 50%;
}
.lble {
  width: 150px;
  display: inline-block;
  margin: 10px 20px 10px 10px;
  
}
.editActiveOth{
  max-width:60%;
  float: right;
}
.editActiveImg{
  padding: auto;
max-width: 40%;
height: 300px;
  float:left;
 
}

.pop{
  padding: 50px 260px 50px 200px;
  
  position: fixed;
  top:0;
  left:0;
 max-width: 100%;
 max-height: 100vh;
  background-color: rgb(0,0,0,0.9);
  display: flex;
  
  align-items: center;
}
.pop-inner{
  position: relative;
  padding:32px;
  width: 100%;
  height: 100%;
  overflow:visible;
  background-color: #FFF;
}
.pop-inner .close{
  position: absolute;
  bottom: 32px;
  left: 100px;
}
.img-holderscan{
  width: 250px;
  height: 250px;
  
  margin: auto;
}


.img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.label{
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
 
}
.display{
  display:inline-block;
}
.eli{
  padding: 100px 300px;

}

.selectdiv{
  padding: 5% 0 10% 25%;
  
}
.selectdivl{
  padding: 0 0 0 25%;
  
}
.selectlbl{
  width: 150px;
  display: inline-block;
  /* margin: 10px 50px 10px  10%; */
  
}

.lapEmp{
  padding: 10px 50px 100px 100px;
}
.empLap{
  padding:  100px;
}
th{
  width: 150px;
  height: 50px;
  background-color: #459d46;
  text-align: left;
}
td{
  height: 50px;
  width: 200px;
 background-color: lightgrey;
}

.tdImg{
  height: 50px;
  width: 80px;
}

.scannerImg{
  width: 30%;
  height: 80%;
    float:left;
    background-color: red;
   }
   .scannerOth{
    width:35%;
    float: right;
  }
  .scandiv{
    position: fixed;
   width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  }
  .imgScan{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
/* td:nth-child(1){
  height: 50px!important;
 
  background-color: white;
  align-items: center;
}
th:nth-child(1){
  height: 50px!important;
 
  
}
.tdImg{
  width:500px;
   
   padding-left: 550px;
    height:100%; 
    
} */