


.card{
    min-height: 100vh; 
}



section{
    padding: 16px;
}


.grid{
    display: grid;
    gap: 2em;
    grid-template-columns: 
     repeat(auto-fit, minmax(450px, 1fr));
    
}

.homeImg img{
    width: 300px;
    height: 300px;
    border: #3f2601 2px solid;
    clip-path: circle(50% at -10px -10px);
    transition: 2s all ease;
}
.homeImg img:hover{
    clip-path: circle(100%);
}
.container{
    
    width: 90%;
    margin-inline: auto;
}

.card{
  
    min-height: 80vh;
    border-radius: 50px;
    background: linear-gradient(100deg, #3f2601, #996515);
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;

}
.glass{
    transform-style: preserve-3d;
    position: absolute;
    inset: 8px;
    background: linear-gradient(#3f2601, #996515);
    border-radius: 0.5rem;
    border-top-right-radius: 100%;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s ease-in-out;
}
.logo{
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
   
}
.logo .circle{
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    
    top: 0;
    right: 0;
    box-shadow: #3f2601 -10px 10px 20px;
    transition: 0.5s ease-in-out;
    
}
.logo .circle1{
    width: 150px;
    transform: translate3d(0,0, 60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
}
.logo .circle2{
    width: 130px;
    transform: translate3d(0,0, 80px);
    top: 23px;
    right: 23px;
    transition-delay: 1.2s;
}
.logo .circle3{
    width: 100px;
    transform: translate3d(0,0, 100px);
    top: 30px;
    right: 30px;
   
    transition-delay: 1.6s;}
    
    /* display: flex;
    justify-content: center;
    align-items: center; */



.content{
    padding: 11rem 20px 0 20px;
}
.cardFooter{
    position: absolute;
    bottom: 20px;
    left: 30%;
}
.cardFooter .social{
    transform-style: preserve-3d;
    display: flex;
    gap: 3em;
}
.gap{
    gap: 5em;
    margin-left: 50px;
    /* border: 6px solid pink; */
}
.cardFooter .social .socialIcon{
     display: inline-block;
     width: 50px;
     height: 50px;
     font-size: 30px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #3f2601;
}
img{
    display: block;
    
}
#projects img{
    min-height: 500px;
    width: 100%;
}
.contactDiv{
    border: 5px solid #996515;
}
.contactDiv a{
    color: #996515;
    font-size: 35px;
    padding: 2rem;
    margin: auto;
}

.felx{
    display: flex;
    flex-wrap: wrap;
    
    
}
.percentile{
    position: absolute;
    margin-top: 5px;
    margin-left: 10%;
   
    width: 35vw;
    height: 7px;
    background-color: aliceblue;
}
.percentileresult{
    position: absolute;
    height: 7px;
    background-color: #996515;
    top: 0;
    left: 0;
}
.seventy{
    width: 70%;
}
.seventyfive{
    width: 75%;
}
.eighty{
    width: 80%;
}
.eightyfive{
    width: 85%;
}
@media(max-width:977px){
    .percentile{
        position: absolute;
        margin-top: 5px;
        margin-left: 20%;
        width: 60vw;
    
    }
}