/* Header */




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-color: #f9ca24;
    --secondary-color: black;
    font-size: 75px;
  }
  
header{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    height: 300px;
    min-width: 1300px;
  }
  nav{
    justify-content: center;
    float: right;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  li{
    margin:  1rem 1.5rem;
  }
  a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
  }
  .headerLogo{
    font-size: 150px;
    padding-left: 10%;
    float: left;
    height: auto;
  }
  nav ul li a:hover,
  nav ul li a:hover{
    color: var(--primary-color);
    text-decoration: underline 10px var(--primary-color);
    text-underline-offset: 0.7rem;
    
    
  }
  .DLModeBtn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0,2rem;
  }
  section{
    height: 100vh;
  }