/* Header */


.navWrapper{
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    border: green 1px solid;
    
}

.navContent{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 10px var(--yellow) ;
}
.headerLogo{
    width: 15rem;
    height: auto;
    border: 1px green solid;
    font-size: 1.4rem;
}
.navContent ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}
.navContent li{
    margin: 0 1.5rem;
}
.menuItem{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    position: relative;
    
}
.menuItem:hover,
.menuItem:focus,
.menuBtn:hover{
  color: var(--primary-color);
  text-decoration: underline 7px var(--primary-color);
  text-underline-offset: 0.7rem;
   
}
.DLModeBtn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.menuBtn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: aliceblue;
    background-color: linear-gradient(90deg,var(--primary-color) -0.13%, var(--secondary-color) 99.87%);
    line-height: 0;
    transition: all 0.4s ease;
    display: none;
}
.imgLogo{
    width: 50px;
    height: 50px;
 display: none;
}

@media(max-width:769px){
    .menuBtn, .imgLogo{
        display: block;
    }
    .navContent ul, .headerLogo{
        display: none;
    }
  
}
@media(max-width: 1325px){
    .navWrapper{
        padding: 0 2rem;
    }
}
@media(min-width: 1400px){
    .navWrapper{
        padding: 0 2rem;
  
    }
    .navContent{
        width: 1700px;
        margin: 0 0.5rem;
        
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 1rem 5rem;
    margin: 0 5px;
        border: #f9ca24 1px solid;
    }
    .headerLogo{
        width: 500px;
        height: 5vh;
        border: 1px green solid;
        font-size: 2vw;
    }
    .navContent ul{
        padding-left: 15vw;
        gap: 1.5vw;
        align-items: right;
        float: right;
    }
    .menuItem{
        font-size: 2vw;
    }
    .DLModeBtn{
        font-size: 2vw;
    }
}