





:root{
  --yellow: #f9ca24;
  --black: black;
  --white: white;

}


body {
  padding-left: 1%;
  padding-right: 1%;
  background-color: var(--black);
  color: var(--yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo{
  font-size: 2rem;
}
.logo:hover{
  cursor: default;
  color: var(--white);
}
nav, .navLinks {
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  margin-bottom: 2%;
  box-shadow: 5px 5px 10px 10px var(--yellow) ;
}
.navLinks{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a{
  color: var(--yellow);
  text-decoration: none;
  text-decoration-color: black;
}
a:hover{
  color: var(--yellow);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--yellow);
}
a:active{
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--white);
}
.home{
  display: flex;
  width: 80%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  padding: 0 10%;
  overflow: hidden;
  box-shadow: 5px 5px 10px 10px var(--yellow) ;
  
}

.home::after{
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: 35%;
  top: 15%;
  background: linear-gradient(90deg, var(--white), var(--yellow));
  animation: object2 6s linear infinite;
}
.home::before{
  position: absolute;
  content: '';
  height: 250px;
  width: 150px;
  border-radius: 50%;
  left: 5%;
  top: 30%;
  background: linear-gradient(90deg, var(--white), var(--yellow));
  animation: object2 6s linear infinite;
}

.cols{
  width: 50%;
  z-index: 5;
}
.topline{
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: var(--white);
}
.topline::after{
  position: absolute;
  content: '';
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: var(--yellow);
}

.aboutp{
  padding-top: 2rem;
  width: 98%;
  font-size: 1.3em;
  color: var(--white);
}
.btns{
  padding-left: 30%;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 23rem;
  height: 5rem;
}
.btns .btn, .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 50%;
  background-color: var(--yellow);
  border: .2rem solid var(--yellow);
  border-radius: .8rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--black);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btns .btn:hover,.btn:hover{
  color: var(--yellow);
}
.btns .btn:nth-child(2){
  background: transparent;
  color: var(--yellow);
}
.btns .btn:nth-child(2)::before{
  background: var(--yellow);
}
.btns .btn:nth-child(2):hover{
  color: var(--black);
}
.btns .btn::before, .btn::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 background-color: var(--black);
 z-index: -1;
 transition: .5s;
}
.btns .btn:hover::before,.btn:hover::before{
 width: 100%;
}
.imgBox{
  position: relative;
  width: 90%;
  height: 100%;
}
.imgBox img{
  position: relative;
  height: 100%;
  width: calc(130% - 80px);
  top: -75px;
  right: -150px;
  animation: animateUser 4s linear infinite;
}
.about, .exprience{
  position: relative;
  width: 80%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 10px 10px var(--yellow) ;
}
 .contact{
  position: relative;
  width: 80%;
  height: 110vh;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 10px 10px var(--yellow) ;
}

.p1{
  text-align: center;
  color: var(--white);
}
.title{
  font-size: 3rem;
  text-align: center;
}
.sectionContainer{
  gap: 4rem;
  height: 70%;
  display: flex;
}

.aboutSectionText{

  height: 400px;
  width: 100%;
  margin: auto 0;
}

.aboutDetailsContainer{
  justify-content: center;
  flex-direction: column;
}
.aboutContainers, .aboutDetailsContainer{
  display: flex;
}
.aboutContainers{
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.detailsContainer{
  padding: 1rem 5rem 0 5rem;
  flex: 1;
  background: var(--white);
  border-radius: 2rem;
  border: var(--yellow) 0.5rem solid;
  border-color: var(--yellow);
  text-align: center;
}
.icon{
  cursor: pointer;
  height: 2rem;
  color: var(--white);
}
.icon፡hover{
  cursor: pointer;
  height: 5rem;
}

.downarrow{
  background-color: var(--white);
  width: 40px;
  border-radius: 50px;
}
#exprience{
  position: relative;
}
.experienceSubTitle{
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.exprianceDetailsContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.articleContainer{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}
article{
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon{
  cursor: default;
}

.box {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px var(--yellow) solid;
  border-left: 1px var(--yellow) solid;
  border-right: 1px var(--yellow) solid;
  background: var(--white);
  color: var(--yellow);
  text-transform: none;
  font-size: 1.rem;
  width: 100%;
}
form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

@media(max-width:462px) {

  .home{
    display: flex;
    width: 60%;
    height: 45vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding: 0 1%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 5px var(--yellow) ;
    
  }
  
  .home::after{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 25%;
    top: 15%;
    background: linear-gradient(90deg, var(--white), var(--yellow));
    animation: object2 6s linear infinite;
  }
  .home::before{
    position: absolute;
    content: '';
    height: 75px;
    width: 50px;
    border-radius: 50%;
    left: 5%;
    top: 25%;
    background: linear-gradient(90deg, var(--white), var(--yellow));
    animation: object2 6s linear infinite;
  }
  
  .cols{
    width: 50%;
    z-index: 5;
  }
  .topline{
    display: block;
    position: relative;
    font-size: 15px;
    letter-spacing: 5px;
    color: var(--white);
  }
  .home .cols h1{
    font-size: 15px; 
  }
  .topline::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 45px;
    bottom: 10px;
    background-color: var(--yellow);
  }

  .btns{
    padding-left: 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    height: 3rem;
  }
  .btns .btn, .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 50%;
    background-color: var(--yellow);
    border: .2rem solid var(--yellow);
    border-radius: .5rem;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--black);
    z-index: 4;
    overflow: hidden;
    transition: .5s;
    
  }


 
  .imgBox{
    position: relative;
    width: 70%;
    height: 50%;
  }
  .imgBox img{
    position: relative;
    height: 10%;
    width: calc(130% - 0px);
    top: -3;
    right: 5%;
    animation: animateUser 4s linear infinite;
  }
  .about{
    position: relative;
    width: 56%;
    height: 105vh;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
   
    box-shadow: 2px 2px 5px 5px var(--yellow) ;
  }
  .title{
    font-size: 2rem;
    
  }
  .sectionContainer{
    gap: 4rem;
    height: 70%;
    display: block;
  }
  .aboutp{
   
    width: 98%;
    font-size: 0.8em;
    color: var(--white);
  }
 
  

  .aboutContainers{
    display: block;
    padding-top: -10%;
  }
  .aboutContainers{
    gap: 2rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
    
  }
  .detailsContainer{
    padding: 1rem;
    flex: 1;
    background: var(--white);
    border-radius: 2rem;
    border: var(--yellow) 0.3rem solid;
    border-color: var(--yellow);
    text-align: center;
    margin-bottom: 7%;  
  }
  .icon{
    cursor: pointer;
    height: 2rem;
    color: var(--white);
  }
  .icon፡hover{
    cursor: pointer;
    height: 5rem;
  }
  
  .downarrow{
    background-color: var(--white);
    width: 40px;
    border-radius: 50px;
    margin-top: 100px;
   
  }
  #exprience{
    position: relative;
  }
  .exprience{
    position: relative;
    width: 56%;
    height: 105vh;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
   
    box-shadow: 2px 2px 5px 5px var(--yellow) ;
  }
  .experienceSubTitle{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .exprianceDetailsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .articleContainer{
    display: block;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
  }
 
  article{
    
    width: 10rem;
    justify-content: space-around;
    gap: 1.5rem;
  }
  article .icon{
    cursor: default;
  }
  .contact{
    position: relative;
    width: 42%;
    height: 110vh;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 5px 5px var(--yellow) ;
  }
  
  .box {
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px var(--yellow) solid;
    border-left: 1px var(--yellow) solid;
    border-right: 1px var(--yellow) solid;
    background: var(--white);
    color: var(--yellow);
    text-transform: none;
    font-size: 1.rem;
    width: 100%;
  }
  form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
  }
  .footer{
    
    width: 62%;
    height: 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  
  }
  .navLinksContainer ul li a, footer p{
    font-size: 12px;
    padding-bottom: 2px;
  }
  .navLinks{
    gap: 1rem;
    list-style: none;
    font-size: 1.5rem;
  }
}